@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 100%;
  margin: 40px auto;
  position: relative;
}

.inner-container_one {
  border: 2px solid #00f;
  height: 30vh;
}
.inner-container_two {
  border: 2px solid rgb(255, 0, 0);
  height: 30vh;
  margin-top: 20px;
}
.inner-container_three {
  border: 2px solid rgb(98, 255, 0);
  height: 30vh;
  margin-top: 20px;
}

.box {
  display: inline-block;
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}
.heading-box {
  background-color: #00f;
  margin: 28px 0px;
  top: 0;
  left: 0;
}
